/TicTacToe/nbproject/private/
/TicTacToe/build/
/TicTacToe/dist/
/RedBoxMan_JavaFX/nbproject/private/
/RedBoxMan_JavaFX/build/
/RedBoxMan_JavaFX/dist/
/RedBoxMan_HTML5/nbproject/private/
/hw2/nbproject/private/
/hw2/build/
/hw2/dist/
/TaskDemo/nbproject/private/
/TaskDemo/dist/
/TaskDemo/build/
/BoardGame/nbproject/private/
/BoardGame/build/
/BoardGame/dist/
/ComputeTask/build/